fastapi
sqlalchemy
asyncpg
pydantic
python-jose[cryptography]
passlib[bcrypt]
alembic
uvicorn[standard]
email_validator
cryptography
python-dotenv        
python-multipart     
pydantic-settings    
psycopg2-binary
