fastapi
sqlalchemy
uvicorn[standard]
pydantic
pymysql
python-dotenv
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
alembic
email_validator
cryptography
python-dotenv        
python-multipart     
pydantic-settings    
psycopg2-binary
